@page
@model TinkerJems.Web2.Pages.BlogsModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    var canAdd = (await Authorization.AuthorizeAsync(User, SeedData.SecurityPolicy_Add)).Succeeded;
}
@{
    ViewData["Title"] = "Blogs";
}

<h1>Blogs</h1>
<hr />

<div>
    @foreach (var blog in Model.BlogPosts)
    {
        <a asp-page="" asp-route-id="@blog.ID" style="text-decoration:none">
            <div class="media" style="border:solid; margin:1em; background-color:#fffcff; display:inline-block;">
                <img asp-route-id="@blog.ID" class="mr-3" style="width:150px; height:150px; margin-bottom:1em; margin-left:.5em; margin-right:0em" src="/Images/@Html.DisplayFor(modelblog => blog.Image)" alt="Generic placeholder image">
                <div class="media-body" style="display:inline-block; margin:.5em">
                    <a asp-page="./Details" asp-route-id="@blog.ID" style="text-decoration:none; color:black"><h5 class="mt-0">@Html.DisplayFor(modelItem => blog.Title)</h5></a>
                    <p asp-route-id="@blog.ID">@blog.Body</p>
                    <p asp-route-id="@blog.ID">
                        @Html.DisplayFor(modelblog => blog.Posted)
                    </p>
                    <p asp-route-id="@blog.ID">
                        @Html.DisplayFor(modelblog => blog.Author)
                    </p>
                </div>
            </div>
        </a>
    }
</div>

@if (canAdd)
{
    <hr />
    <a asp-page="./CreateBlog">
        <button type="button" class="btn btn-outline-info">Create Entry</button>
    </a>
}


