@page

@model TinkerJems.Web2.Pages.DetailsModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, SeedData.SecurityPolicy_Edit)).Succeeded;

}

@{
    ViewData["Title"] = "Details";
}


<h1 class="text-center">@Html.DisplayFor(model => model.JewelryItem.Name)</h1>

@*NAVBAR*@
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#edc7b7; border-radius: .5em; padding:0em;">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" asp-page="./Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jewelry
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-page="./Items">All Jewelry</a>
                    @*<a class="dropdown-item" href="shopRings.html">Rings</a>
                        <a class="dropdown-item" href="shopNecklaces.html">Necklaces</a>
                        <a class="dropdown-item" href="shopEarrings.html">Earrings</a>
                        <a class="dropdown-item" href="shopBracelets.html">Bracelets and Anklets</a>*@
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" asp-page="./Blog" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Blog
                </a>
            </li>
            <li class="nav-item">
                @*<a class="nav-link" href="#aboutMe">About Me</a>*@
            </li>
        </ul>
    </div>
</nav>

<div class="align-">
    <hr />
    <img src="/Images/@Html.DisplayFor(model => model.JewelryItem.ImageUrl)" alt="image of item" style="width:300px; height:auto; margin:1em" />
    <div style="display:inline-block; margin-top:2em; margin-left:2em">
        <dl class="dl-horizontal text-left" style="display:inline-block">
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Price)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.JewelryItem.Price)
            </dd>
            @*<dt>
                    @Html.DisplayNameFor(model => model.JewelryItem.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.JewelryItem.Description)
                </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.LongDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.LongDescription)
            </dd>
            <dd class="align-middle">
                <button class="btn btn-primary" type="submit">Checkout</button>
            </dd>
        </dl>
    </div>
</div>

<hr />
<div class="text-center">
    |   <a asp-page="./Items">Back to List</a>  |

    @if (canEdit)
    {
        <a asp-page="./Edit" asp-route-id="@Model.JewelryItem.Id">Edit</a>
        <a asp-page="./Delete" asp-route-id="@Model.JewelryItem.Id">Delete Item</a>
    }

</div>
