@page

@model TinkerJems.Web2.Pages.DetailsModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, SeedData.SecurityPolicy_Edit)).Succeeded;

}

@{
    ViewData["Title"] = "Details";
}


<h1 class="text-center">@Html.DisplayFor(model => model.JewelryItem.Name)</h1>

@*NAVBAR*@
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#edc7b7; border-radius: .5em; padding:0em;">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" asp-page="./Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jewelry
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-page="./Items">All Jewelry</a>
                    @*<a class="dropdown-item" href="shopRings.html">Rings</a>
                        <a class="dropdown-item" href="shopNecklaces.html">Necklaces</a>
                        <a class="dropdown-item" href="shopEarrings.html">Earrings</a>
                        <a class="dropdown-item" href="shopBracelets.html">Bracelets and Anklets</a>*@
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" asp-page="./Blog" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Blog
                </a>
            </li>
            <li class="nav-item">
                @*<a class="nav-link" href="#aboutMe">About Me</a>*@
            </li>
        </ul>
    </div>
</nav>

<div style="display:flex">
    <div>
        <img src="/Images/@Html.DisplayFor(model => model.JewelryItem.ImageUrl)" alt="image of item" style="width:300px; height:auto; margin:1em; vertical-align:top;" />
        <hr />
        @if (canEdit)
        {
            <div style="margin-left:1em;">
                <h5 style="text-align:center; margin-bottom:0em;">Add Tags</h5>
            </div>
            <form method="post">
                <div class="form-group">
                    <textarea rows="5" cols="45" asp-for="NewTags"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Tags" class="btn btn-outline-secondary" />
                </div>
            </form>
        }
    </div>
    <div style="display:inline-block; margin-top:1em; margin-left:2em; vertical-align:top; display:inline-block">
        <dl class="dl-horizontal text-left" style="display:inline-block">
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Price)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.JewelryItem.Price)
            </dd>            
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.LongDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.LongDescription)
            </dd>
            <dt>
                Tags
            </dt>
            <dd>
                <div class="container" style="padding-left:0px">
                    <ul class="list-group list-group-horizontal" style="list-style-type:none; margin-top:5px">
                        @if (Model.JewelryItem.Tags == null)
                        {
                            <li style="color:darkgrey;">There are no tags for this item</li>
                        }
                        else
                        {
                            foreach (var tagLink in Model.JewelryItem.Tags)
                            {
                                <li class="list-group-item" style="margin-right:5px; height:max-content; padding:5px;">@tagLink.Tag.Name</li>
                            }
                        }
                    </ul>
                </div>
            </dd>
            <dd class="align-middle">
                <button class="btn btn-primary" type="submit" style="margin-top:10px">Checkout</button>
            </dd>
        </dl>
    </div>
</div>


<div class="text-center" style="margin-top:50px">
    |   <a asp-page="./Items" style="color:black">Back to List</a>  |

    @if (canEdit)
    {
        <a asp-page="./Edit" asp-route-id="@Model.JewelryItem.Id" style="color:black">Edit |</a>
        <a asp-page="./Delete" asp-route-id="@Model.JewelryItem.Id" style="color:black">Delete Item |</a>
    }

</div>
