@page

@model TinkerJems.Web2.Pages.DetailsModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, SeedData.SecurityPolicy_Edit)).Succeeded;

}

@{
    ViewData["Title"] = "Details";
}


<h1 class="text-center">@Html.DisplayFor(model => model.JewelryItem.Name)</h1>


<div style="display:flex">
    <div>
        <img src="/Images/@Html.DisplayFor(model => model.JewelryItem.ImageUrl)" alt="image of item" style="width:300px; height:auto; margin:1em; vertical-align:top;" />
        <hr />
        @if (canEdit)
        {
            <div style="margin-left:1em;">
                <h5 style="text-align:center; margin-bottom:0em;">Add Tags</h5>
            </div>
            <form method="post">
                <div class="form-group">
                    <textarea rows="5" cols="45" asp-for="NewTags" placeholder="Add new tags separated by new lines"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Tags" class="btn btn-outline-secondary" />
                </div>
            </form>
        }
    </div>
    <div style="display:inline-block; margin-top:1em; margin-left:2em; vertical-align:top; display:inline-block">
        <dl class="dl-horizontal text-left" style="display:inline-block">
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Price)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.JewelryItem.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.LongDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.LongDescription)
            </dd>
            <dt>
                Tags
            </dt>
            <dd>
                <div class="container" style="padding-left:0px">
                    <ul class="list-group list-group-horizontal" style="list-style-type:none; margin-top:5px">
                        @if (Model.JewelryItem.Tags == null)
                        {
                            <li style="color:darkgrey;">There are no tags for this item</li>
                        }
                        else
                        {
                            foreach (var tagLink in Model.JewelryItem.Tags)
                            {
                                <li class="list-group-item" style="margin-right:5px; height:max-content; width:max-content; padding:5px; display:inherit">

                                    <a asp-page="./SelectedTag" asp-route-tagName="@tagLink.Tag.Name" style="color:black">@tagLink.Tag.Name</a>
                                    @if (canEdit)
                                    {
                                        <form method="post" asp-page-handler="DeleteTag">
                                            <input type="hidden" value="@Model.JewelryItem.Id" name="JewelryItemId" />
                                            <input type="hidden" value="@tagLink.TagId" name="TagId" />
                                            <button style="background:none; border:none;" onclick="deleteTagFromItem()">
                                                <svg style="pointer-events:none;" width="12" height="12" viewBox="0 0 14 14">
                                                    <path d="M12 3.41L10.59 2 7 5.59 3.41 2 2 3.41 5.59 7 2 10.59 3.41 12 7 8.41 10.59 12 12 10.59 8.41 7z"></path>
                                                </svg>
                                            </button>
                                        </form>
                                    }

                                </li>
                            }
                        }
                    </ul>
                </div>
            </dd>
            <dd class="align-middle">
                <button class="btn btn-primary" type="submit" style="margin-top:10px">Checkout</button>
            </dd>
        </dl>
    </div>
</div>


<div class="text-center" style="margin-top:50px">
    |   <a asp-page="./Items" style="color:black">Back to List</a>  |

    @if (canEdit)
    {
        <a asp-page="./Edit" asp-route-id="@Model.JewelryItem.Id" style="color:black">Edit |</a>
        <a asp-page="./Delete" asp-route-id="@Model.JewelryItem.Id" style="color:black">Delete Item |</a>
    }

</div>

