@page "/post/{slug}"

@model TinkerJems.Web2.Pages.PostModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    var canEdit = (await Authorization.AuthorizeAsync(User, SeedData.SecurityPolicy_Edit)).Succeeded;
}
@{
    ViewData["Title"] = "Post";
}

<h1 style="text-align:center; text-wrap:normal">@Html.DisplayFor(model => model.BlogPost.Title)</h1>
<div class="postDetail" style="text-align: center;">
    <div class="authorInfo" style="display:inline-block;">
        <em>written by</em>
        <p>@Html.DisplayFor(model => model.BlogPost.Author)</p>
    </div>
</div>

@*NAVBAR*@
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#edc7b7; border-radius: .5em; padding:0em;">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" asp-page="./Index">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Jewelry
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" asp-page="./Items">All Jewelry</a>
                    @*<a class="dropdown-item" href="shopRings.html">Rings</a>
                        <a class="dropdown-item" href="shopNecklaces.html">Necklaces</a>
                        <a class="dropdown-item" href="shopEarrings.html">Earrings</a>
                        <a class="dropdown-item" href="shopBracelets.html">Bracelets and Anklets</a>*@
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" asp-page="./Blog" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Blog
                </a>
            </li>
            <li class="nav-item">
                @*<a class="nav-link" href="#aboutMe">About Me</a>*@
            </li>
        </ul>
    </div>
</nav>

<div class="TinkerLogo" style="border-radius: 5px; text-align:center">
    <img src="~/Images/tinkerJemsLogo.png" style="height:450px; width:100%; vertical-align:top;" alt="TinkerJems Logo" />
</div>
<hr />
<div class="mainBody" style="overflow:auto">
    @if (Model.BlogPost.Image != null)
    {
        <img class="bodyImage" style="height:300px; width:300px; float:left; margin: 1em; margin-right: 1.5em" src="~/Images/@Html.DisplayFor(model => model.BlogPost.Image)" alt="Blog post Image" />
    }

    @Html.Raw(Model.BlogPost.Body)
    <div class="editDelete" style="text-align:center">
        @if (canEdit)
        {
            <a asp-page="./EditPost" asp-route-id="@Model.BlogPost.ID" style="text-decoration:none;">
                <button asp-page="" type="button" class="btn-link glyphicon glyphicon-remove" style="color:black;">Edit</button>
            </a>
            <a asp-page="./DeletePost" asp-route-id="@Model.BlogPost.ID" style="text-decoration:none;">
                <button asp-page="" type="button" class="btn-link glyphicon glyphicon-remove" style="color:black;">Delete</button>
            </a>

        }
    </div>
</div>
<br>



