@page
@model TinkerJems.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@*<h2>Details</h2>*@
    <h1 class="text-center">@Html.DisplayFor(model => model.JewelryItem.Name)</h1>

<div class="align-">
    @*<h4>JewelryItem</h4>*@
    <hr />
    <img src="/Images/@Html.DisplayFor(model => model.JewelryItem.ImageUrl)" alt="image of item" style="width:300px; height:auto; margin:1em" />
    <div style="display:inline-block; margin-top:2em; margin-left:2em">
        <dl class="dl-horizontal text-left" style="display:inline-block" >
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Price)
            </dt>
            <dd>
                $@Html.DisplayFor(model => model.JewelryItem.Price)
            </dd>
            @*<dt>
                @Html.DisplayNameFor(model => model.JewelryItem.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.Description)
            </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.JewelryItem.LongDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.JewelryItem.LongDescription)
            </dd>
            <dd class="align-middle">
                <button class="btn btn-primary" type="submit">Checkout</button>
            </dd>
        </dl>
    </div>
</div>

<hr />
<div class="text-center">
    |   <a asp-page="./Items">Back to List</a>  |
    @*<a asp-page="./Delete" asp-route-id="@Model.JewelryItem.Id">Delete Item</a>
    <a asp-page="./Edit" asp-route-id="@Model.JewelryItem.Id">Edit</a> |*@
</div>
