@page
@model TinkerJems.Pages.IndexModel

@{
    ViewData["Title"] = "Jewelry Items";
}

<h2 class="text-center">Jewelry Items</h2>

<hr />

@foreach (var item in Model.JewelryItem)
{
    <a  asp-page="./Details" asp-route-id="@item.Id" style="text-decoration:none">
        <div class="media" style="border:solid; margin:1em; background-color:#fffcff; display:inline-block;">
            <img asp-route-id="@item.Id" class="mr-3" style="width:150px; height:150px; margin-bottom:1em; margin-left:.5em; margin-right:0em" src="/Images/@Html.DisplayFor(modelItem => item.ImageThumbnailUrl)" alt="Generic placeholder image">
            <div class="media-body" style="display:inline-block; margin:.5em">
                <a asp-page="./Details" asp-route-id="@item.Id" style="text-decoration:none; color:black"><h5 class="mt-0">@Html.DisplayFor(modelItem => item.Name)</h5></a>
                <p asp-route-id="@item.Id">$@Html.DisplayFor(modelItem => item.Price)</p>
                <p asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
            </div>
        </div>
    </a>
}
<hr />
<a asp-page="./Create">
    <button type="button" class="btn btn-outline-info">Add Item</button>
</a>
<p>FOR TESTING: Add a new item with the thumbailUrl and imageUrl name as 'customeBracelet.jpg'</p> 


@*<p>
    <button class="btn btn-outline-dark">
        <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
    </button>
</p>*@
        @*<a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
}*@

@*<table class="table">
    <thead>
        <tr>
            <th>
                @item.Id">@Html.DisplayNameFor(model => model.JewelryItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JewelryItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JewelryItem[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JewelryItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                 |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
